@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --main-color: #00bdef;
  --secondary-color: #f89738;
  --grey-color: #c0c0c0;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #474e4b;
  color: #e1eeeb;
  min-height: 100vh;
}

/*  ----------  HEADDER --------------------- */

#header {
  text-align: center;
  margin: 3rem auto;
}

#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

#header h1 {
  font-size: 1.5rem;
}

/*  ----------  SCORES CONTAINER --------------------- */

.scores-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: 20px;
}

@media (min-width: 600px) {
  .scores-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 912px) {
  .scores-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .scores-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .scores-container {
    grid-template-columns: repeat(4, 1fr);

    max-width: 1100px;
    margin: auto;
  }
}

/*  ----------  SCORES CARDS --------------------- */

.scores {
  border: 1px solid var(--main-color);
  border-radius: 15px;
  margin: 1rem auto;
  padding: 0.3rem;
}

.scores h1 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--white-color);
}

.scores table {
  width: 100%;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0.45rem 0.35rem;
}

.scores thead {
  font-size: 1rem;
  color: var(--white-color);
}

.scores th {
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
}

.scores tbody {
  font-size: 1rem;
  color: var(--grey-color);
}

.scores td {
  text-align: center;
}

.warning {
  color: var(--secondary-color);
}

.statistics {
  display: flex;
  justify-content: space-around;
  margin: 0.75rem 0.5rem 0.35rem;
  padding: 0.55rem 0.25rem;
  background: var(--white-color);
  border-radius: 10px;
}

.statistics div {
  text-align: center;
}

.statistics p {
  margin: 0;
  font-size: 0.5rem;
  text-transform: uppercase;
  color: #8a8a8a;
}

.statistics strong {
  font-size: 2rem;
  font-weight: 400;
  color: #5a5a5a;
}
